<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
      
    <div class="container">

      <div class="row">
        <div class="col-12">

          {%- include header.html -%}
          {%- include header_aside.html -%}

          <div class="lead">
            {{ page.hero | markdownify }}
          </div>
          
        </div>
      </div>


      <main aria-label="Content">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>

    <script src="{{ "/assets/main.js" | relative_url }}"></script>
  </body>

</html>
