---
layout: base
---
<article class="post">
  
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
    
      {{- content -}}
  
    </div>
  </div>
  
  <div class="resume_section resume_clients">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">

        <h2>Clients</h2>
        <p>{{- page.clients_caption | escape -}}</p>
  
      </div>
    </div>
  
    {%- include resume_section_logos.html items=site.clients -%}
  </div>
  
  <div class="resume_section resume_experience">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">

        <h2>Experience</h2>
        <p>{{- page.experience_caption | escape -}}</p>

      </div>
    </div>
  
    {%- include resume_section_items.html items=site.experience -%}
  </div>
  
  <div class="resume_section resume_experiencePrevious">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        
        <h3>Previous experience</h3>
        <p>{{- page.experiencePrevious_caption | escape -}}</p>

        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#resume_section_experiencePrevious" aria-expanded="false" aria-controls="resume_section_experiencePrevious" id="resume_section_experiencePrevious_revealButton">
          Reveal
        </button>

      </div>
    </div>

    <div class="collapse" id="resume_section_experiencePrevious">
      {%- include resume_section_items.html items=site.experiencePrevious headingOffset=1 -%}
    </div>
  </div>
  
  <div class="resume_section resume_education">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">

        <h2>Education</h2>
        <p>{{- page.education_caption | escape -}}</p>
  
      </div>
    </div>

    {%- include resume_section_items.html items=site.education -%}
  </div>

</article>
