---
layout: base
---
<article class="post">
  
  <div class="row">
    <div class="col-12">
    
      {{- content -}}
  
    </div>
  </div>
  
  <div class="resume_section resume_skillsSoft listitems_as_badges">
    <div class="row">
      <div class="col-12">
  
        <h2>Skills</h2>
        {{- page.skillsSoft_caption | markdownify -}}
  
      </div>
    </div>

    {%- include resume_section_cards_and_lists.html items=site.skillsSoft -%}
  </div>

  <div class="resume_section resume_skillsTechnical listitems_as_badges">
    <div class="row">
      <div class="col-12">
  
        <h2>Technical</h2>
        {{- page.skillsTechnical_caption | markdownify -}}
  
      </div>
    </div>
  
    {%- include resume_section_cards_and_lists.html items=site.skillsTechnical -%}
  </div>

  <div class="resume_section resume_experience">
    <div class="row">
      <div class="col-12">

        <h2>Experience</h2>
        {{- page.experience_caption | markdownify -}}

      </div>
    </div>
  
    {%- include resume_section_items.html items=site.experience -%}
  </div>
  
  <div class="resume_section resume_experiencePrevious">
    <div class="row">
      <div class="col-12">
        
        <div class="hide_print">
          {{- page.experiencePrevious_caption | markdownify -}}
  
          <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#resume_section_experiencePrevious" aria-expanded="false" aria-controls="resume_section_experiencePrevious" id="resume_section_experiencePrevious_revealButton">
            Show
          </button>
        </div>
        
        <div class="hide_display">
          {{- page.experiencePrevious_caption_print -}}&nbsp;<a href="{{ site.website.url }}">{{ site.website.title }}</a>
        </div>

      </div>
    </div>

    <div class="collapse" id="resume_section_experiencePrevious">
      {%- include resume_section_items.html items=site.experiencePrevious -%}
    </div>
  </div>
  
  <div class="resume_section resume_education">
    <div class="row">
      <div class="col-12">

        <h2>Education</h2>
        {{- page.education_caption | markdownify -}}
  
      </div>
    </div>

    {%- include resume_section_items.html items=site.education -%}
  </div>

</article>
